.pageTest {

        height: 50px;
        margin: 20px;
    }

    * {
        margin: 0px;
        padding: 0
    }

    .pageTest li {
        cursor: pointer;
        padding: 4px 8px;
        display: inline-block;
        background: #f6f6f6;
        margin: 0 4px;
        color: #000;
        border: solid 1px #dedede;
    }

    .green li {
        color: #4bc270
    }

    .red li {
        color: #d9534f
    }

    .blue li {
        color: #159fee
    }

    .yellow li {
        color: #ffaa00
    }

    .green li.on {
        background: #4bc270;
        color: #fff;
    }

    .red li.on {
        background: #d9534f;
        color: #fff;
    }

    .blue li.on {
        background: #159fee;
        color: #fff;
    }

    .yellow li.on {
        background: #ffaa00;
        color: #fff;
    }

    .s li {
        font-size: 12px;
    }

    .m li {
        font-size: 14px;
    }

    .l li {
        font-size: 16px;
    }