* {
    box-sizing: border-box;
}

.lee-collapse-item {
    border-bottom: solid 1px #eee;
    background: #fff
}

.lee-collapse-item.exp .lee-collapse-item-title:after {
    border-bottom: solid 1px #eee;
    content: "";
    position: absolute;
    width: 100%;
    left: 15px;
    bottom: 0
}

.lee-collapse-item-title {
    position: relative;
    padding: 10px 15px;
    width: 100%;
    overflow: hidden;
}

.lee-collapse-item-content {
    padding: 10px 15px;
    line-height: 22px;
    font-size: 14px;
    color: #666;

}

.lee-collapse-item-wrap {
    overflow: hidden;
    transition: all .3s ease-in-out;
}